/*
Theme Name: Projeto Lobinho
Author: Carlos Eduardo Barbosa
Description: Tarefa IN Junior
Version: 1
*/

@import "normalize.css";

*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Darker Grotesque';
}



/* header */ 

header{
  background-color: rgba(133, 205, 245, 1);
  overflow-x: hidden
  
}

.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
}

.header .logo{
  width: 4rem;
  margin: 0.5rem 0rem 0.5rem 0rem
}

.header a{
  color: black;
  padding-bottom: 0.3rem;
  
}

.header a:hover{
  border-bottom: 3px solid black;
  transition: 0.15s;
}


/* section 1 */ 

.loboInicial{
  background-image: url(assets/lobo-image.png);
  background-size: 120rem;
  min-height: 42rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden
}

h1, h2{
  margin: 0;
}
.loboInicial h1{
  font-size: 5.5rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
}
.underline{
  font-size: 5.0rem;
  margin-top: -5rem;
  margin-bottom: 2rem;
}
.textos{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 700;

}
.textos p{
  width: 60%;
  text-align: center;
  font-weight: 400;
  font-size: 30px
}



/* section 2 */

.about{
  background-color: rgba(44, 86, 128, 1);
  min-height: 18.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden
}

.divAbout{
  min-height: 15rem;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.about h2{
  color: rgba(222, 185, 89, 1);
  font-weight: bolder;
  font-size: 2rem;
  font-weight: 700;
}

.about p{
  color: white;
  width: 80%;
  margin: 0;
  line-height: 1.8rem;
  font-weight: 400;
  font-size: 20px;
}




/* section 3 */

.valores{
  background-color: rgba(51, 51, 51, 1);
  min-height: 33rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  overflow-x: hidden
}

.valores h2{
  color: rgba(222, 185, 89, 1);
  font-size: 2rem;

}

.cards{
  display: flex;
  width: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5em;

}

.card img{
  width: 90%;
}

.card{
  max-width: 15rem;
  text-align: center;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;  

}
.card h3{
  color: white;
  font-size: 1.5rem;
}
.pCard{
  color: white;
  width: 10rem;
}



/* section 4*/ 

.loboExemple{
  height: 50rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden
}

.titulo-exemplo{
  margin: 2rem 0rem 2rem 0rem;
  text-align: center;
  color: rgba(222, 185, 89, 1);
  font-weight: 700;
  font-size: 30px;
}

.container{
  width: 70%;
  height: 100%;
  margin: auto auto auto auto;
}

.wolf{
  display: flex;
  gap: 5rem;
  justify-content: center;
  
}

.text{
  width: 40%;
  text-align: justify;
}

.text .nome-lobo{
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 20px
}

.text .idade-lobo{
  margin-bottom: 1.5rem;
  font-weight: 300;
  font-size: 20px
}

.text .descricao{
  font-weight: 400;
  font-size: 25px;
}

#inverted{
  margin-top: 2rem;
  flex-direction: row-reverse;


}

#invertedImage{
  left: -30px;
}

#invertedMoldura{
  margin-left: 1rem;
}

#text-inverted{
  text-align: end;
}
.moldura{
  margin-left: 8rem;
  position: relative;
}

.frame{
  background-color: rgba(44, 86, 128, 1);
  width: 300px;
  height: 300px;
  margin-right: 1rem;
  border: 1px solid black;

}

.moldura img{
  position: absolute;
  top: 22px;
  left: 30px;
}



/* divider */

.divider{
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(to right, yellow, blue)
}




/* footer */

footer{
  background-color: rgba(51, 51, 51, 1);
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden
}

.contato pre{
  padding: 0rem 0rem 1rem 0rem;
  margin-bottom: 1rem;
  color: white;
  font-family: 'Darker Grotesque';
  font-weight: 400;
}

.contato div{
  display: flex;
  height: 1.5rem;
  margin-bottom: 2.5rem;
  width: 20rem;
  gap: 1rem;
  color: white;

}

.contato{
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 15rem;
  
}
input{
  margin-top: -0.08rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: rgba(222, 185, 89, 1);
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.informacoes{
  display: flex;
  gap: 2.5rem;
  /*align-items: center;*/
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo p{
  margin-bottom: 0.5rem;
  color: white
}

@media (max-width: 480px){

  header{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .loboInicial{
    background-position: -33rem;
  }

  .loboInicial .textos .underline{
    visibility: hidden;
  }

  .loboInicial .textos{
    text-align: center;
  }

  .about{
    padding: 1rem;

  }

  .valores div{
    display: flex;
    justify-content: center;
  }

  .valores h2{
    margin-top: 1rem;
  }

  footer{
    height: 100%;
    
  }
  .informacoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .loboExemple{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .moldura{
    margin-left: -2rem;
  }

  .wolf, #inverted{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text, #text-inverted{
    width: auto;
  }
}