*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Darker Grotesque';
}

/* header */ 

header{
  background-color: rgba(133, 205, 245, 1);

}

.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.header .logo{
  width: 4rem;
  margin: 0.5rem 0rem 0.5rem 0rem
}

a{
  color: black;
  font-weight: 700;
  font-size: 30px;
}

/* section */
main{
  display: flex;

}
.adoption-panel{
  width: 50rem;
  height: 45rem;
  border: 0.2rem solid black;
  display: flex;
  margin: auto auto auto auto;
  margin-top: 2.5rem;
  margin-bottom: 7rem;
  flex-direction: column;
  align-items: center;

}

h1{
  margin-top: 3rem;
  font-weight: 600;
  font-size: 5.6vmin;
  margin-left: 1.15rem;
}

.info{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  width: 80%;
  font-weight: 500;
  font-size: 30px
}

.lobo-info{
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.name{
  width: 32rem;
  height: 2rem;
  background-color: rgba(230, 230, 230, 1);
  border: 0.1rem solid black;
  margin-top: 0.5rem;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem
}

.years{
  width: 8rem;
  height: 2rem;
  background-color: rgba(230, 230, 230, 1);
  border: 0.1rem solid black;
  margin-top: 0.5rem;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem
}

.photo-url{
  width: 41rem;
  height: 2rem;
  background-color: rgba(230, 230, 230, 1);
  border: 0.1rem solid black;
  margin-top: 0.5rem;
  padding: 0rem 0.2rem 0.2rem 0.5rem
}

.description{
  margin-top: 1.5rem;
}

#description{
  width: 41rem;
  height: 10rem;
  background-color: rgba(230, 230, 230, 1);
  border: 0.1rem solid black;
  margin-top: 0.5rem;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem
}

.salvar{
  margin-top: 2.5rem;
  background-color: rgba(44, 86, 128, 1);
  color: white;
  padding: 0.5rem 4rem 0.5rem 4rem;
  font-size: 24px;
  cursor: pointer;
}

/* footer */

footer{
  background-color: rgba(51, 51, 51, 1);
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden
}

.contato pre{
  padding: 0rem 0rem 1rem 0rem;
  margin-bottom: 1rem;
  color: white;
  font-family: 'Darker Grotesque';
  font-weight: 400;
}

.contato div{
  display: flex;
  height: 1.5rem;
  margin-bottom: 2.5rem;
  width: 20rem;
  gap: 1rem;
  color: white;

}

.contato{
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 15rem;
  
}
input{
  margin-top: -0.08rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: rgba(222, 185, 89, 1);
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.informacoes{
  display: flex;
  gap: 2.5rem;
  /*align-items: center;*/
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo p{
  margin-bottom: 0.5rem;
  color: white
}

@media (max-width: 480px){
  header{
    width: 100%;
  }
  .header{
    width: 100%;
  }

  h1{
    font-size: 1.8rem;
    margin-right: 0.5rem;

  }

  .adoption-panel{
    width: 100%;
    height: 100%;
    border: none;
    margin-top: -1rem;
  }

  .info{
    width: 100%;
    overflow: none;
  }

  .lobo-info{
    width: 100%;
    overflow: none;
    margin-left: 0.2rem;
  }
  .name{
    width: 15rem;
  }

  .url-foto{
    margin-left: 0.2rem;
  }
  .photo-url{
    width: 24rem;   
  }

  .description{
    margin-left: 0.2rem;
  }
  #description{
    width: 24rem;
  }

  /* footer */

  footer{
    height: 100%;
    
  }
  .informacoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .loboExemple{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .moldura{
    margin-left: -2rem;
  }

  .wolf, #inverted{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text, #text-inverted{
    width: auto;
  }
}
