*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque';
  }
  input{
    background-color: #DEB959;
    color: white;
    border: 0;
    font-size: 1.5rem;
    padding: 0 0 2px 0;
    cursor: pointer;
  }
  
  
  /* header */ 
  
  header{
    background-color: rgba(133, 205, 245, 1);
    overflow-x: hidden
  }
  
  .header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
  }
  
  .header .logo{
    width: 4rem;
    margin: 0.5rem 0rem 0.5rem 0rem
  }
  
  .header a{
    color: black;
    padding-bottom: 0.3rem;
    
  }
  
  .header a:hover{
    border-bottom: 3px solid black;
    transition: 0.15s;
  }

  

/* section */ 

.list{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
.pesquisar{
    height: 4rem;
    display: flex;
    gap: 0.8rem;
    align-items: flex-end;

  }

.pesquisar .text{
    background-color: white;
    background-image: url(../assets/lupa.png);
    background-repeat: no-repeat;
    background-size: 1.2rem;
    background-position-y: center;
    background-position-x: 1%;
    width: 47rem;
    height: 2rem;
    padding-left: 2rem;
    color: black;
    border: 1px solid black;
}

.pesquisar .Buttom{
    width: 5rem;
    height: 2rem;

}

.divfilter{
    width: 59%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    
}


.container{
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
 
    
    
    
  }
  
.wolf, .wolfinverted{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 3.5rem;
    
  }

.text, .text-inverted{
    width: 40%;
    text-align: justify;
  }
  
.text .divnome-lobo, .divnome-invertido{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 11rem;
  }
.text .divnome-lobo input{
    width: 6rem;
  }
.divnome-invertido input{
    width: 6rem;
  }
.text .idade-lobo, .idade-invertido{
    margin-bottom: 1.5rem;
  
  }
  
.moldura, .invertedMoldura{
    position: relative;
  }
  
.frame{
    background-color: rgba(44, 86, 128, 1);
    width: 380px;
    height: 320px;
    border: 3px solid black;
  
  }
  
.moldura img, .invertedImage{
    position: absolute;
    top: 22px;
    left: 30px;
  }


.wolfinverted{
    flex-direction: row-reverse;
 
  }
 
.invertedImage{
    left: -30px;
  }
  
  
.text-inverted{
    text-align: end;
  }

.divnome-invertido{
    justify-content: end;
    flex-direction: row-reverse;
    
  }

  



/* divider */

.divider{
    width: 100%;
    height: 0.3rem;
    background-image: linear-gradient(to right, yellow, blue)
  }
  
  /* footer */
  footer{
    background-color: rgba(51, 51, 51, 1);
    height: 20rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden
  }
  
  .contato pre{
    padding: 0rem 0rem 1rem 0rem;
    margin-bottom: 1rem;
    color: white;
    font-family: 'Darker Grotesque';
    font-weight: 400;
  }
  
  .contato div{
    display: flex;
    height: 1.5rem;
    margin-bottom: 2.5rem;
    width: 20rem;
    gap: 1rem;
    color: white;
  
  }
  
  .contato{
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 15rem;
    
  }
  .inputFooter{
    margin-top: -0.08rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    background-color: rgba(222, 185, 89, 1);
    border: none;
    font-weight: bold;
  }
  .informacoes{
    display: flex;
    gap: 2.5rem;
    /*align-items: center;*/
  }
  
  .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .logo p{
    margin-bottom: 0.5rem;
    color: white
  }
  
  @media (max-width: 480px){
    header{
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
    .container{
      overflow-x: hidden;
    }
    .pesquisar{
      margin-top: 1rem;
      display: flex;
      width: 20rem;
      flex-wrap: wrap;
    }
    .moldura img{
      width: 20rem;
      left: 0;
    }
    .invertedImage{
      left: auto;
      width: 20rem;
    }

    .nome-lobo, .idade-lobo, .descricao{
      margin-left: -2rem;
      gap: 0;
      align-items: center;
      align-content: center;
    } 

    .divnome-invertido > input, .divnome-lobo > input{
      margin-left: -2rem;
      margin-right: 0;
      padding-right: 0;
      width: fit-content;
    }

    .wolfinverted{
      flex-direction: row;
    }
    .text-inverted{
      text-align: justify;
    }
    .divnome-invertido{
      justify-content: flex-start;
      flex-direction: row;
      gap: 10rem;
      align-items: center;
      align-content: center;
    }
    footer{
      height: 100%;
      
    }
    .informacoes{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }