*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Darker Grotesque';
  
}
body{
 background-color:rgba(51, 51, 51, 1)
}

/* header */ 

header{
  background-color: rgba(133, 205, 245, 1);
  overflow-x: hidden
  
}

.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
}

.header .logo{
  width: 4rem;
  margin: 0.5rem 0rem 0.5rem 0rem
}

.header a{
  color: black;
  padding-bottom: 0.3rem;
  
}

.header a:hover{
  border-bottom: 3px solid black;
  transition: 0.15s;
}

/* section */

section{
  height: 40rem;
  background-color: white;
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75%;
  margin: auto auto auto auto;
  
}
.lobo img{
  border-radius: 50%;
}
.container .lobo{
  display: flex;
  align-content: center;
  gap: 4rem;
  justify-content: center;

  
}

.info-lobo{
  width: 60%;
}

.info-lobo h1{
  font-size: 55px;
  font-weight: 600;
}

label{
  font-weight: 500;
  font-size: 30px;
}

.nome-idade{
  display: flex;
  width: 100%;
  gap: 1rem;
  
  
}
#idade{
  margin-top: 0.2rem;
  width: 5rem;
  background-color: transparent;
  border-bottom: 1px solid black;
}
#nome{
  margin-top: 0.2rem;
  width: 60.5rem;
  background-color: transparent;
  border-bottom: 1px solid black;
}

#email{
  margin-top: 0.2rem;
  background-color: transparent;
  border-bottom: 1px solid black;
}
.forms{
  display: flex;
  flex-direction: column;
   
}
.button{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.adotar{
  padding: 0.5rem 3rem 0.5rem 3rem;
  font-size: 30px;
  font-weight: 600;
  background-color: rgba(44, 86, 128, 1);
  color: white;
  cursor: pointer;
}

/* divider */

.divider{
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(to right, yellow, blue)
}

/* footer */

footer{
  background-color: rgba(51, 51, 51, 1);
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden
}

.contato pre{
  padding: 0rem 0rem 1rem 0rem;
  margin-bottom: 1rem;
  color: white;
  font-family: 'Darker Grotesque';
  font-weight: 400;
}

.contato div{
  display: flex;
  height: 1.5rem;
  margin-bottom: 2.5rem;
  width: 20rem;
  gap: 1rem;
  color: white;

}

.contato{
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 15rem;
  
}
input{
  margin-top: -0.08rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: rgba(222, 185, 89, 1);
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.informacoes{
  display: flex;
  gap: 2.5rem;
  /*align-items: center;*/
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo p{
  margin-bottom: 0.5rem;
  color: white
}

@media (max-width: 480px){
  header{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  section{
    display: flex;
    flex-wrap: wrap;
    min-height: 60rem;
  }

  .lobo{
    display: flex;
    flex-wrap: wrap;

  }

  .info-lobo h1{
    font-size: 40px;
  }

  .nome-idade{
    display: flex;
    flex-wrap: wrap;
  }

  #nome{
    width: 19rem;
  }

  #email{
    width: 19rem;
  }
  .forms{
    display: flex;
    flex-wrap: wrap;
  }
  footer{
    height: 100%;
    
  }
  .informacoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}