*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Darker Grotesque';
}



/* header */ 

header{
  background-color: rgba(133, 205, 245, 1);
  overflow-x: hidden
  
}

.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
}

.header .logo{
  width: 4rem;
  margin: 0.5rem 0rem 0.5rem 0rem
}

.header a{
  color: black;
  padding-bottom: 0.3rem;
  
}

.header a:hover{
  border-bottom: 3px solid black;
  transition: 0.15s;
}

/* section */
section{
  min-height: 40rem;
  margin-top: 1rem;
  width: auto;
}
.container{
  width: 70%;
  height: 100%;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  
  align-items: left;
  justify-content: center;
  margin: auto auto auto auto;
  margin-top: 2rem;

}

.titulo{
  margin-bottom: 2rem;
  font-size: 25px;
  font-weight: bolder;
}

.buttons{
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 2.8rem;
  margin-left: 1.9rem;
  margin-top: 4rem;
  margin-bottom: -8rem;

}

.buttons .adopt{
  padding: 1rem 3.5rem 1rem 3.5rem;
  background-color: rgba(122, 172, 58, 1);
  text-align: center;
  color: white;

}

.buttons .delete{
  padding: 1rem 3.5rem 1rem 3.5rem;
  background: rgba(222, 89, 89, 1);
  text-align: center;
  color: white;
}

.content{
  display: flex;
  margin-top: 1rem;
  gap: 5rem;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 1rem;
}

.descricao{
  width: auto;
  word-wrap: break-word;
  text-align: left;
  display: flex;

  margin-top: 0.8rem;
  font-size: 22px;

  
}

.wolf{
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.moldura{
  position: relative;
}

.frame{
  background-color: rgba(44, 86, 128, 1);
  width: 380px;
  height: 320px;
  border: 3px solid black;

}

.moldura img{
  position: absolute;
  top: 22px;
  right: -30px;
}
/* divider */

.divider{
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(to right, yellow, blue)
}




/* footer */

footer{
  background-color: rgba(51, 51, 51, 1);
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden
}

.contato pre{
  padding: 0rem 0rem 1rem 0rem;
  margin-bottom: 1rem;
  color: white;
  font-family: 'Darker Grotesque';
  font-weight: 400;
}

.contato div{
  display: flex;
  height: 1.5rem;
  margin-bottom: 2.5rem;
  width: 20rem;
  gap: 1rem;
  color: white;

}

.contato{
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 15rem;
  
}
input{
  margin-top: -0.08rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: rgba(222, 185, 89, 1);
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.informacoes{
  display: flex;
  gap: 2.5rem;
  /*align-items: center;*/
}

.logo{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo p{
  margin-bottom: 0.5rem;
  color: white
}

@media (max-width: 480px){
  header{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  section{
    display: flex;
    flex-wrap: wrap;
    min-height: 100rem;
  }
  .moldura img{
    width: 20rem;
  }
  .moldura{
    display: flex;
    height: auto;
    width: 20rem;
    justify-content: left;
  }
  .buttons{
    margin-left: -0.6rem;
    gap: 1.5rem;
  }
  .adopt, .delete{
    padding: 0;

    
  }
  .content{
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5rem;
  }

  .descricao{
    margin-top: 5rem;
    text-align: center;
    font-size: 24px;
    margin-right: -3rem;
  }
  footer{
    height: 100%;
    
  }
  .informacoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}